/** @format */
:root {
  --primary: rgb(207, 226, 255);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: white;
}
.idola-stiker {
  font-family: "Protest Riot", sans-serif;
  color: #00a2e9;
  font-size: 4rem;
}
